// Global parameters
params {
	step05_steps = 10
	step05_metrics = ["chao1", "shannon", "simpson_e"]
	step06_classifiers = [[name: "silva-full", 
			classifier: "silva-138-99-nb-classifier.qza", 
			url: "https://data.qiime2.org/classifiers/sklearn-1.4.2/silva/silva-138-99-nb-classifier.qza"],
		[name: "gtdb-full", 
			classifier: "gtdb_classifier_r220.qza", 
			url: "https://data.qiime2.org/classifiers/sklearn-1.4.2/gtdb/gtdb_classifier_r220.qza"],
		[name: "gg2-full", 
			classifier: "2024.09.backbone.full-length.nb.sklearn-1.4.2.qza", 
			url: "https://data.qiime2.org/classifiers/sklearn-1.4.2/greengenes2/2024.09.backbone.full-length.nb.sklearn-1.4.2.qza"]]
	step06_tax_level_collapse = 6
	step08_significance_threshold = 0.001
}

// Data Specific parameters
includeConfig 'params.config'

// Different profiles
profiles {
	local {
		conda.enabled = true
		process {
			conda = "/Users/pzito/anaconda3/envs/qiime2-metagenome-2024.10"
		}
	}
}


