// Global parameters
params {
	p5_steps = 10
	p5_metrics = "chao1 shannon simpson_e"
	p6_classifiers = [[name: "silva-full", 
			classifier: "silva-138-99-nb-classifier.qza", 
			url: "https://data.qiime2.org/classifiers/sklearn-1.4.2/silva/silva-138-99-nb-classifier.qza"],
		[name: "gtdb-full", 
			classifier: "gtdb_classifier_r220.qza", 
			url: "https://data.qiime2.org/classifiers/sklearn-1.4.2/gtdb/gtdb_classifier_r220.qza"],
		[name: "gg2-full", 
			classifier: "2024.09.backbone.full-length.nb.sklearn-1.4.2.qza", 
			url: "https://data.qiime2.org/classifiers/sklearn-1.4.2/greengenes2/2024.09.backbone.full-length.nb.sklearn-1.4.2.qza"]]
	p6_tax_level_collapse = 6
	p8_significance_threshold = 0.001
}

// Data Specific parameters
includeConfig 'params.config'

// Different profiles
profiles {
	local {
		conda.enabled = true
		process {
			conda = "/Users/pzito/anaconda3/envs/qiime2-metagenome-2024.10"
		}
	}
	lab_server {
		docker.enabled = true
		process{
			container = "quay.io/qiime2/amplicon:2025.4"
		}
	}
}