params {
	manifest = "/media/leelab/HDD_Array/PZito/16s/2013_04_17-nf/data/MANIFEST"
	metadata = "/media/leelab/HDD_Array/PZito/16s/2013_04_17-nf/data/metadata_20130417.tsv"
	contrast = ["sample-type", "host-adapted-salinity"]
	p2_forward_primer = "AATGATACGGCGACCACCGAGATCTACACTATGGTAATTGTACTCCTACGGGAGGCAGCATG"
	p2_reverse_primer = "CAAGCAGAAGACGGCATACGAGATNNNNNNNNNNNNAGTCAGTCAGCCGGACTACHVGGGTWTCTAAT"
	p3_forward_left = "0"
	p3_forward_right = "172"
	p3_reverse_left = "0"
	p3_reverse_right = "68"
	p5_max_depth = "900"
	p7_sampling_depth = "200"
}