params {
	seqDir = "/Users/pzito/Desktop/nextflow_toy_data/16s_reads"
	metadata = "/Users/pzito/Desktop/zito_16S/zito_metadata/metadata_20130417.tsv"
	contrast = ["sample-type", "host-adapted-salinity"]
	step02_forward_primer = "AATGATACGGCGACCACCGAGATCTACACTATGGTAATTGTACTCCTACGGGAGGCAGCATG"
	step02_reverse_primer = "CAAGCAGAAGACGGCATACGAGATNNNNNNNNNNNNAGTCAGTCAGCCGGACTACHVGGGTWTCTAAT"
	step03_forward_left = "0"
	step03_forward_right = "172"
	step03_reverse_left = "0"
	step03_reverse_right = "68"
	step05_max_depth = "900"
	step07_sampling_depth = "200"
}