params {
	MANIFEST_file = "/media/leelab/HDD_Array/PZito/16s/2013_04_17-nf/data/"
	metadata = "/media/leelab/HDD_Array/PZito/16s/2013_04_17-nf/data/metadata_20130417.tsv"
	contrast = ["sample-type", "host-adapted-salinity"]
	step02_forward_primer = "AATGATACGGCGACCACCGAGATCTACACTATGGTAATTGTACTCCTACGGGAGGCAGCATG"
	step02_reverse_primer = "CAAGCAGAAGACGGCATACGAGATNNNNNNNNNNNNAGTCAGTCAGCCGGACTACHVGGGTWTCTAAT"
	step03_forward_left = "0"
	step03_forward_right = "172"
	step03_reverse_left = "0"
	step03_reverse_right = "68"
	step05_max_depth = "900"
	step07_sampling_depth = "200"
}